@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


@font-face {
    font-family: 'rubik';
    src: url('@/assets/fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'work_sans';
    src: url('@/assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf');
}

.bg-card-home{
  background-color: #ffffff;
}

.card-home {
  width: 100%;
  height: fit-content;
}

.text-font-rubik {
  font-family: rubik;
}

.text-font-work_sans {
  font-family: work_sans;
}

.brand-paragraph {
  font-family: work_sans;
  font-size: 14px;
  line-height: 21px;
}


.brand-description {
  font-size: 12px;
  line-height: 18px;
  font-family: work_sans;
}


.brand-subtitle {
  font-family: work_sans;
  font-size: 18px;
  line-height: 21.6px;
}

.brand-heading_medium {
  font-family: rubik;
  font-weight: 500;
  line-height: 28.8px;
  font-size: 24px;
}

.brand-caption {
  font-weight: 500;
  font-family: work_sans;
  font-size: 12px;
  line-height: 14.4px;
}

.brand-heading-small {
  font-family: rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}


.logo-fit {
  width: 75% !important;
}


@media screen(md) {
  .card-home {
    width: 560px;
  }

  .brand-subtitle {
    font-family: work_sans;
    font-size: 20px;
    line-height: 24px;
  }

  .brand-heading_medium {
    line-height: 38.4px;
    font-size: 32px;
  }

  .logo-fit {
    width: 100% !important;
  }

  .brand-heading-small {
    font-family: rubik;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
  }

  .brand-paragraph {
    font-family: work_sans;
    font-size: 16px;
    line-height: 24px;
  }

  .brand-description {
    font-size: 14px;
    line-height: 21px;
    font-family: work_sans;
  }
}