@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


@font-face {
    font-family: 'rubik';
    src: url('@/assets/fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'work_sans';
    src: url('@/assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf');
}

.bg-card-home{
  background-color: #ffffff;
}

.card-home {
  width: 100%;
  height: fit-content;
}

@media screen(md) {
  .card-home {
    width: 560px;
  }
}

@media screen(sm) {
  .card-home {
    width: 560px;
  }
}

@media screen(lg) {
  .card-home {
    width: 560px;
  }
}

.text-font-rubik {
  font-family: rubik;
}

.text-font-work_sans {
  font-family: work_sans;
}

.brand-paragraph {
  font-family: work_sans;
  font-size: 16px;
  line-height: 24px;
}


.brand-description {
  font-size: 14px;
  line-height: 21px;
  font-family: work_sans;
} 

.brand-subtitle {
  font-family: work_sans;
  font-size: 20px;
  line-height: 24px;
}


.brand-heading_medium {
  font-family: rubik;
  text-align: right;
  line-height: 38.4px;
  font-size: 32px;
}

.brand-caption {
  font-family: work_sans;
  font-size: 12px;
  line-height: 14.4px;
}


.brand-heading-small {
  font-family: rubik;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
}